/* 
    Document   : admin.css
    Created on : Apr 9, 2012, 1:58:36 PM
    Author     : Abhinav Kumar <abhinav.kumar@kayako.com>
    Description:
        Purpose of the stylesheet follows.
*/
#kayako-icon32 {
	background: url(../images/global.logo) 0 0 no-repeat;
}

